@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: Roboto, system-ui, sans-serif;
  display: flex;
}

:root {
  --green-shade-color: #596d48;
  --input-border-color: #e5e7eb;
  --input-invalid-color: #c22d2d;
  --input-focus-color: #293ec4;
}


.hero-container {
  background-image: url("./images/background-image.jpg");
  background-size: cover;
  width: max(400px, 40%);
  padding-top: 150px;
  position: relative;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
}

.hero-text {
  font-family: "Norse Bold";
  font-size: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.footer,
a {
  color: #fff;
}

a {
	text-decoration: underline;
}

.intro-to-service {
	margin-top: 120px;
	margin-right: 150px;
}

.intro-to-service,
.sign-up-now,
.already-have-an-account,
.create-account {
	margin-left: 40px;
}

form {
	background-color: #FFF;
	padding-left: 40px;
	margin-bottom: 30px;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
	padding-top: 20px;
	padding-bottom: 40px;
}

.form-inputs {
	display: flex;
	flex-wrap: wrap;
	column-gap: 80px;
	row-gap: 20px;
	padding-right: 40px;
}

.form-inputs > p {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

em {
	font-style: italic;
}

.intro-to-service,
.sign-up-now,
.form-header {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 40px;
}

.create-account {
	font-size: 1.1rem;
	font-weight: bold;
	color: #FFF;
	background-color: var(--green-shade-color);
	padding: 10px 40px;
	border: none;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.log-in {
	color: var(--green-shade-color);
	font-weight: bold;
	text-decoration: none;
}

label {
	font-size: 0.8rem;
	font-weight: bold;
	color: #3d3d3d;
	margin-bottom: 2px;
	letter-spacing: 0.1rem;
}

input {
	color: #3d3d3d;
	padding: 5px;
	border: 1px solid var(--input-border-color);
	border-radius: 0.3em;
	background-color: #f9fafb;
	width: 300px;
	font-size: 0.9rem;
}

input:focus {
	box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
	outline: none;
	border: 1.5px solid var(--input-focus-color);
}

.invalid {
	border: 1.5px solid var(--input-invalid-color);
}

.no-match::after {
	content: "* Passwords do not match";
	color: var(--input-invalid-color);
	font-size: 0.7rem;
}